html {
    font-family: 'Calibri', sans-serif;
    font-size: 16px;
    color: rgb(253,253,253);
    overflow-x: hidden;
    
}


body {
    width: 100%;
}



#head{
	background-color: rgba(241,141,0,1);
	width:100%;
	height: auto;
	overflow: auto;
	display: flex;
	flex-direction: row;
}

button{
	width:80px;
	height:80px;
	margin-left: 10px;
	margin-top:10px;
	border: none;
	background-color: rgba(255,165,0,1);
	color: rgba(253,253,253,1);
	float: left;
	width:100%;
}

.button{
		flex-basis:33.33%;
}

#dataContainerOrientation{
	font-size:1em;
	padding-left:50px;
	flex-basis:33.33%;
	margin: 15px;
	text-align: center;
}

#dataContainerMotion{
	font-size:1em;
	padding-left: 50px;
	margin: 15px;
	text-align:center;
	flex-basis:33.33%;
}

#demo {
	font-size: 1em;
	font-family: 'Calibri', sans-serif;
	text-align: center;
	color: rgba(253,253,253,1);
	margin-top: 110px;
}

.orientation{
	padding: 10px;

}